@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

code {
  font-family: 'Raleway', sans-serif;
}

@import "../node_modules/bootstrap/scss/bootstrap";
/*********************************************/
/*          CUSTOMIZED DEFAULTS         */
/*********************************************/
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

$body-color: #999999;
$warning: #FF0000;
$body-bg: #000;
$primary: #FF856E;