
  .main-container {
    display: flex;
    justify-content: space-between;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 30px;
  
  }
  
  .users-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 538px;
    overflow-y: scroll;
    overflow-x:hidden !important;
    padding:0px 20px;
  }
  
  
  .users-container::-webkit-scrollbar ,  .conversations-container::-webkit-scrollbar{
    width: 2px !important;
    background: rgba(0, 0, 0, 0) !important;
  }
  
  .users-container::-webkit-scrollbar-thumb , .conversations-container::-webkit-scrollbar-thumb{
    background: white !important;
  }
  
  .profile-picture {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .btn {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    background-color: #f1f1f1;
    color:black;
  }
  
  
  .chat-card-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    width: 55%;
    min-height: 72vh;
  }
  
  .chat-card-header {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
  }
  
  body ::-webkit-scrollbar {
    width: 0;
    background: rgba(0, 0, 0, 0);
  }
  
  body ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0);
  }
  
  .chat-card-header .img-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: #f1f1f1;
  }
  
  .messages-container::-webkit-scrollbar {
    width: 3px !important;
    background: rgba(0, 0, 0, 0) !important;
  }
  
  .messages-container::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, rgb(54, 54, 54), rgb(32, 32, 32)) !important;
  }
  
  .chat-card-header .text-chat {
    color: black;
    margin: 0;
    font-size: 20px;
  }
  
  .chat-card-body {
    flex: 1 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .messages-container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 300px;
    overflow-y: scroll;
  }
  
  .message-box {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
  }
  
  .user-name {
    display: flex;
    align-items: center;
  }
  
  .message-input {
    padding: 5px;
    border-top: 1px solid #ccc;
  }
  
  .message-input .message-send {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    resize: none;
  }
  
  .message-input .button-send {
    background-color: #f1f1f1;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 10px;
    font-size: 13px;
  }
  
  .message-input .button-send:hover {
    background-color: #f1f1f1;
    color: #333;
  }
  
  .conversations-container{
    display:flex;
    flex-direction:column;
    gap:20px;
    height:538px;
    overflow-y:scroll;
    overflow-x:hidden;
    padding:2px;
  }